@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
@import "tailwindcss";


*{
  font-family: outfit;
}

.font-ovo
{
  font-family: ovo;
  font-weight: 400;
}

.lightHover
{
  background-color: #fcf4ff;
}

.darkHover
{
  color: #2a004a;
}

.darkTheme
{
  color: #11001F;
}

.shadow-hover-black:hover 
{
  box-shadow: 4px 4px 0 #000;
  
}
.shadow-hover-white:hover{
  box-shadow: 4px 4px 0 #fff;
}