@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
   --shadow-color: rgba(0, 0, 0, 0.05);
}

[data-mode="dark"] {
  --background: #11001F;
  --foreground: #ffffff;
  --shadow-color: rgba(255, 255, 255, 0.2);
}



.dark {
  /* --background: #11001F; */
  --background: #0f0f0f;
  --foreground: #ffffff;
}

body {
  
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.2s ease, color 0.2s ease;
}

*{
  font-family: outfit;
}

.font-ovo
{
  font-family: ovo;
  font-weight: 400;
}

.lightHover
{
  background-color: #fcf4ff;
}

.darkHover
{
  color: #2a004a;
}

.darkTheme
{
  color: #11001F;
}

.shadow-hover-black:hover 
{
  box-shadow: 4px 4px 0 #000;
  
}
.shadow-hover-white:hover{
  box-shadow: 4px 4px 0 #fff;
}

.bg-opacity-50
{
  background-color: rgba(255, 255, 255,0.5);
}

/* hover:bg-[#fcf4ff]   : Hover-bg-light
Hover */

.grid-cols-auto
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* .dark
{
      background-color: #11001F;
} */